#if ($value)
    #set ($keys = $value.allKeys)
#end
#if ($keys)
    #foreach ($key in $keys)
        #set ($singlevalue = $value.getFirstValueForKey($key))
        #if ($singlevalue)
            <customfieldvalue key="$!key">$singlevalue.optionId</customfieldvalue>
        #end
    #end
#end
