#if ($value.get("0"))
    #set($prefix = "")
    #set($length = ($value.size()- 1))
    #foreach ($id in [0..$length])
        #set ($childValue = $value.get($id.toString()))
        #if ($childValue)
        	$prefix $cfValueEncoder.encodeForHtml($!childValue.value)
        	#set($prefix = " - ")
        #end
    #end    
#end