#if ($searchRequest)
    #set ($xAxisMapper = $twoDStatsMap.getxAxisMapper())
    #set ($yAxisMapper = $twoDStatsMap.getyAxisMapper())
    #if ($statsBean.getFilter())
        #set ($searchRequest = $statsBean.getFilter())
    #end
    #set ($urlPrefix = "${req.contextPath}/secure/IssueNavigator.jspa?mode=hide&amp;reset=true")
    <table class="grid maxWidth twodimensionstats" id="portlet_$portletConfig.id">
    <tr class="rowHeader">
        #if ($showTotals)
            #set ($headerWidth = $twoDStatsMap.xAxis.size() + 2)
        #else
            #set ($headerWidth = $twoDStatsMap.xAxis.size() + 1)
        #end
        #if ($twoDStatsMap.hasIrrelevantXData())
            #set ($headerWidth = $headerWidth + 1)
        #end
            <td class="colHeaderLink" colspan="$headerWidth">
                $i18n.getText("portlet.twodimensionalfilterstats.statistics"):
                <b><a title="$textutils.htmlEncode($searchRequest.name)#if(($searchRequest.description) && ($searchRequest.description != '')) - $textutils.htmlEncode($searchRequest.description)#end" href="/jira/secure/IssueNavigator.jspa?mode=hide&requestId=$portletConfig.getProperty('filterid')">$textutils.htmlEncode($searchRequest.name)</a></b>
            </td>
    </tr>

    #if ($twoDStatsMap.yAxis.isEmpty() && !$twoDStatsMap.hasIrrelevantYData())
        <tr>
            <td colspan="$headerWidth">$i18n.getText('portlet.stats.nodata')</td>
        </tr>
    #else
    ## Header
            <tr>
                <td bgcolor="#fffff0">
                <div style="float:right">$i18n.getText("$portletConfig.getObjectConfiguration().getFieldValues('xAxis').get($xAxisType)")</div>
                <br/>
                $i18n.getText("$portletConfig.getObjectConfiguration().getFieldValues('yAxis').get($yAxisType)")
                </td>
                #foreach ($x in $twoDStatsMap.xAxis)
                <td valign="top" bgcolor="#fffff0" style="text-align:right">
                    #set ($cellUrl = $portlet.getSearchUrlForHeaderCell($x, $xAxisMapper, $searchRequest))
                    #if ($cellUrl && $cellUrl != '')
                        #statHeading($xAxisType $x $customFieldManager "${urlPrefix}${cellUrl}")
                    #else
                        #statHeading($xAxisType $x $customFieldManager "")
                    #end
                </td>
                #end
                #if ($twoDStatsMap.hasIrrelevantXData())
                    <td valign="top" bgcolor="#fffff0" style="text-align:right">
                        <span title="$i18n.getText('common.concepts.irrelevant.desc')">$i18n.getText('common.concepts.irrelevant')</span>
                    </td>
                #end
                #if ($showTotals)
                    <td valign="top" bgcolor="#fffff0" style="text-align:right">
                        <b>$i18n.getText('portlet.twodimensionalfilterstats.total.xaxis'):</b>
                    </td>
                #end
            </tr>

        #set ($rowNumber = 1)
        #foreach( $y in $twoDStatsMap.getYAxis($yAxisOrder, $yAxisDirection) )
            #if($rowNumber <= $numberToShow)
                <tr>
                    <td style="text-align:left;" bgcolor="#fffff0">
                        #set ($cellUrl = $portlet.getSearchUrlForHeaderCell($y, $yAxisMapper, $searchRequest))
                        #if ($cellUrl && $cellUrl != '')
                            #statHeading($yAxisType $y $customFieldManager "${urlPrefix}${cellUrl}")
                        #else
                            #statHeading($yAxisType $y $customFieldManager "")
                        #end
                    </td>
                    #foreach ($x in $twoDStatsMap.xAxis)
                        <td style="text-align:right">
                        #set ($coord = $twoDStatsMap.getCoordinate($x, $y))
                        #if ($coord == 0)
                            <span class="lightgrey">0</span>
                        #else
                            #if((!$x && !$xAxisMapper.isFieldAlwaysPartOfAnIssue()) || (!$y && !$yAxisMapper.isFieldAlwaysPartOfAnIssue()))
                                $coord
                            #else
                                #set ($cellUrl = $portlet.getSearchUrlForCoordCell($x, $y, $twoDStatsMap,$searchRequest))
                                #if ($cellUrl && $cellUrl != '')
                                    <a href="${urlPrefix}${cellUrl}">
                                        $coord
                                    </a>
                                #else
                                    $coord
                                #end

                            #end
                        #end

                        </td>
                    #end

                    #if ($twoDStatsMap.hasIrrelevantXData())
                        <td style="text-align:right;">
                            $twoDStatsMap.getXAxisIrrelevantTotal($y)
                        </td>
                    #end

                    #if ($showTotals)

                        ## Y axis totals
                        #if ($twoDStatsMap.hasIrrelevantXData() && $twoDStatsMap.getXAxisIrrelevantTotal($y) > 0)
                            <td style="text-align:right;">
                                #set ($cellTotal = $twoDStatsMap.getYAxisUniqueTotal($y) + $twoDStatsMap.getXAxisIrrelevantTotal($y))
                                <span title="$i18n.getText('portlet.twodimensionalfilterstats.total.informative.message')"><b>$cellTotal</b></span>
                            </td>
                        #else
                            #set ($cellUrl = $portlet.getSearchUrlForHeaderCell($y, $yAxisMapper, $searchRequest))
                            <td style="text-align:right;">
                                #if ($cellUrl && $cellUrl != '')
                                    <span title="$i18n.getText('portlet.twodimensionalfilterstats.total.informative.message')"><b><a href="${urlPrefix}${cellUrl}" title="$i18n.getText('common.concepts.view.issues')">$twoDStatsMap.getYAxisUniqueTotal($y)</a></b></span>
                                #else
                                    <span title="$i18n.getText('portlet.twodimensionalfilterstats.total.informative.message')"><b>$twoDStatsMap.getYAxisUniqueTotal($y)</b></span>
                                #end
                            </td>
                        #end
                    #end
                </tr>
                #set ($rowNumber = $rowNumber + 1)
            #end
        #end

        ## We may need an additional row for irrelevant Y stats
        #if ($twoDStatsMap.hasIrrelevantYData())
            <tr>
                <td bgcolor="#fffff0">
                    <span title="$i18n.getText('common.concepts.irrelevant.desc')">$i18n.getText('common.concepts.irrelevant')</span>
                </td>
                #foreach ($x in $twoDStatsMap.xAxis)
                    <td style="text-align:right" >
                        $twoDStatsMap.getYAxisIrrelevantTotal($x)
                    </td>
                #end

                #if ($twoDStatsMap.hasIrrelevantXData() && $twoDStatsMap.hasIrrelevantYData())
                    <td style="text-align:right" >
                        $twoDStatsMap.getBothIrrelevant()
                    </td>
                #end

                #if ($showTotals)
                    <td style="text-align:right" >
                        #set ($cellTotal = $portlet.getYAxisUniqueTotal($twoDStatsMap) + $twoDStatsMap.getBothIrrelevant())
                        $cellTotal
                    </td>
                #end
            </tr>
        #end

        #if ($showTotals)

        ## Totals

            <tr>
                <td bgcolor="#fffff0">
                <b>$i18n.getText('portlet.twodimensionalfilterstats.total.yaxis'):</b>
                </td>
                #foreach ($x in $twoDStatsMap.xAxis)
                #set ($cellUrl = $portlet.getSearchUrlForHeaderCell($x, $xAxisMapper, $searchRequest))
                <td style="text-align:right" >
                    #if ($cellUrl && $cellUrl != '')
                        <span title="$i18n.getText('portlet.twodimensionalfilterstats.total.informative.message')"><b><a href="${urlPrefix}${cellUrl}" title="$i18n.getText('common.concepts.view.issues')">$twoDStatsMap.getXAxisUniqueTotal($x)</a></b></span>
                    #else
                        <span title="$i18n.getText('portlet.twodimensionalfilterstats.total.informative.message')"><b>$twoDStatsMap.getXAxisUniqueTotal($x)</b></span>
                    #end
                </td>
                #end

                #if ($twoDStatsMap.hasIrrelevantXData() || $twoDStatsMap.getBothIrrelevant() > 0)
                    <td style="text-align:right">
                        #set ($cellTotal = $portlet.getXAxisUniqueTotal($twoDStatsMap) + $twoDStatsMap.getBothIrrelevant())
                        $cellTotal
                    </td>

                #end

                <td style="text-align:right">
                    <span title="$i18n.getText('portlet.twodimensionalfilterstats.total.informative.message')"><b>$twoDStatsMap.getUniqueTotal()</b></span>
                </td>
            </tr>
        #end

    #end

    </table>
#elseif ($user)
    <table class="tableBorder maxWidth" border="0" cellpadding="0" cellspacing="0"><tr><td>
        <table id="portlet_$portletConfig.id" border="0" cellpadding="3" cellspacing="1" width="100%">
        <tr class=rowHeader>
                <td class="colHeaderLink">
                    $i18n.getText("portlet.twodimensionalfilterstats.statistics"): <b>???</b>
                </td>
        </tr>
        <tr bgcolor="#ffffff">
            <td>
                $descriptor.getText("portlet.filters.invalid")
                ## A user can only edit/delete the portlets that belong to them.
                #if ($editablePortletConfig)
                <font size="1" color="#000000">&nbsp;
                    (<a href="$req.contextPath/secure/SavePortlet!default.jspa?portletConfigId=$portletConfig.id" title="$i18n.getText('portlet.edit.title')">$i18n.getText('portlet.edit')</a> |
                    <a href="$req.contextPath/secure/DeletePortlet!delete.jspa?portletConfigId=$portletConfig.id" title="$i18n.getText('portlet.delete.title')">$i18n.getText('portlet.delete')</a>)
                </font>
                #end
            </td>
        </tr>
        </table>
    </td></tr></table>
#end