#if (!$request || !$request.getAttribute("multilevelcascade"))
$!request.setAttribute("multilevelcascade" , "true")
    <script language="JavaScript" type="text/javascript" src="$!{request.contextPath}/includes/js/multilevelcascadingUtil.js"></script>
#end
$!{auiparams.put("controlHeaderClass", "aui-field-multicascadingselect")}
#searcherEditHeader ($customField.id $customField.name)


#macro(renderSelect $key $customfieldid $levels)
    #if ($levels.get($key))
        #set ($parentMap = $levels.get($key))
        <select class="select" name="${customfieldid}:$key" id="search-${customfieldid}:$key">
        #if (!$fieldLayoutItem.required)
            #foreach ($parentid in $parentMap.keySet())
                <option class="$parentid" value="-1">$i18n.getText("common.words.pleaseselect")</option>
            #end
            <option class="select" value="-1">$i18n.getText("common.filters.any")</option>
        #end
        #foreach ($parentid in $parentMap.keySet())
            #if ($parentMap.get($parentid))
                #foreach ($option in $parentMap.get($parentid))
                    <option class="$parentid" value="$option.optionId">$option.value</option>
                #end
            #end
        #end
        </select>
    #end
#end

#set($customList = $mlcscftype.getOptionMapFromOptions($configs.options))
#set($numLevels = $customList.size() - 1)

#if ($customList.get(null))
    <select class="select" name="${customField.id}" id="search-${customField.id}">
        #if (!$fieldLayoutItem.required)
            <option value="-1">$i18n.getText("common.words.pleaseselect")</option>
        #end
            <option value="-1">$i18n.getText("common.filters.any")</option>
        #set ($rootMap = $customList.get(null))
        #foreach ($option in $rootMap.get(null))
            <option value="$option.optionId">$option.value</option>
        #end
    </select>

    #foreach($id in [1..$numLevels])
        #set($key = $id.toString())
        #if ($customList.get($key))
            #renderSelect ($key ${customField.id} $customList)
            #if ($id > 1)
                #set ($script = "$!script MLCS.dynamicSelect('search-${customField.id}\\:$prevkey', 'search-${customField.id}\\:$key');")
            #end
        #end
        #set ($prevkey = $key)
    #end
#end

#searcherEditFooter ($customField.id $customField.description)
$!{auiparams.clear()}
<script>
    MLCS.dynamicSelect('search-${customField.id}', 'search-${customField.id}\\:1');
    $!script

    #if ($value.getFirstValueForKey(null))
        MLCS.selectOption('select#search-${customField.id}', '${value.getFirstValueForKey(null)}');

        #if ($numLevels >= 1)
            #foreach ($selectedId in [1..$numLevels])
                #if ($value.getFirstValueForKey($selectedId.toString()))
                    #set($selectedValue = $value.getFirstValueForKey($selectedId.toString()))
                #else
                    #set($selectedValue = "-1")
                #end
                MLCS.selectOption('select#search-${customField.id}\\:$!selectedId', '${selectedValue}');
            #end
        #end
    #end
</script>
